{% extends '../layouts/content.html' %}
{% block content %}
  <header class="pager-header">
    <h2 class="title">
    新建技能组
    </h2>
  </header>
  <div class="panel mb25 mt5 all-height">
    <div class="p25 pb5 row all-height">
      <div class="tab-content">
        <div id="tab1_1" class="tab-pane active">
          <form class="simple_form form-horizontal" id="new_skill_group" action="/skill_groups" accept-charset="UTF-8" method="post">
            <div class="input string required skill_group_name">
              <div class="form-group">
                <label class="string required control-label col-sm-2">
                  <abbr title="required">*</abbr> 技能组名称
                </label>
                <div class="col-sm-6">
                  <input class="string required form-control" placeholder="技能组名称" type="text" name="skill_group[name]">
                </div>
                <label class="col-sm-3 text-danger">
                  {{ skill_group.showErr(errors, 'name') }}
                </label>
              </div>
            </div>
            <div class="input string optional disabled skill_group_code">
              <div class="form-group">
                <label class="string optional control-label col-sm-2">技能组号</label>
                <div class="col-sm-6">
                  <input class="string optional disabled form-control" disabled="disabled" type="text" name="skill_group[code]">
                </div>
              </div>
            </div>
            <div class="input select optional skill_group_agent_allot_strategy">
              <div class="form-group">
                <label class="select optional control-label col-sm-2">座席分配策略</label>
                <div class="col-sm-6">
                  <select class="select optional form-control" name="skill_group[agent_allot_strategy]">
                    <option value="poll">轮流</option>
                    <option value="random">随机</option>
                  </select>
                </div>
                <label class="col-sm-3 text-danger"></label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-12">
                <a class="btn-link btn-default pr10" href="/skill_groups">取消</a>
                <input type="submit" name="commit" value="保存" class="btn btn-sm btn-primary">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}