{% extends '../layouts/content.html' %}
{% block content %}
    <header class="pager-header">
	  <h2 class="title">账户设置</h2>
	  <p class="subtitle">设置您的个人系统账户的所有信息，包括基本信息，通话设置以及语音导航</p>
	</header>
	<div class="panel pt10">
	  <div class="row">
	    <div class="col-md-9">
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h3 class="panel-title">系统更新</h3>
	        </div>
	        <div class="panel-body account_messages">
	        </div>
	      </div>
	    </div>
	    <div class="col-md-3">
	      <div class="panel panel-default">
	        <div class="panel-body">
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}